<% @standups.each do |standup| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to standup.title, standup %><br>
      <small class="author">Submitted <%= time_ago_in_words(stadnup.created_at) %> by <%= standup.user.name %></small>
    </h2>
  </div>
<% end %>

<%= will_paginate @standups, :class => "digg_pagination" %>
